# Pandas کار با کتابخانه

In [1]:
import pandas
pandas.__version__

'1.4.4'

In [2]:
import pandas as pd

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [27]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [28]:
data[1]

0.5

In [29]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                  index=['a', 'b', 'c', 'd'])

In [31]:
data['b']

0.5

In [4]:
population_dict = {'California': 38332521,
                    'Texas': 26448193,
                    'New York': 19651127,
                    'Florida': 19552860,
                    'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [9]:
population['California']

38332521

In [ ]:
#ساخت سری

In [4]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [5]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [6]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [ ]:
# pd Data frame

In [5]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}

area = pd.Series(area_dict)
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

In [10]:
states = pd.DataFrame({'population': population, 'area': area})
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [7]:
states.columns

Index(['area', 'population'], dtype='object')

In [8]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]

pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [9]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [16]:
import numpy as np
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'],index=['a', 'b', 'c'])

        foo       bar
a  0.449739  0.735822
b  0.125875  0.840949
c  0.115331  0.440587

In [11]:
states['density'] = states['population'] / states['area']
states

              area  population     density
California  423967    38332521   90.413926
Florida     170312    19552860  114.806121
Illinois    149995    12882135   85.883763
New York    141297    19651127  139.076746
Texas       695662    26448193   38.018740

In [18]:
states.T # Transpose the data set

,California,Florida,Illinois,New York,Texas
area,4.239670e+05,1.703120e+05,1.499950e+05,1.412970e+05,6.956620e+05
population,3.833252e+07,1.955286e+07,1.288214e+07,1.965113e+07,2.644819e+07
density,9.041393e+01,1.148061e+02,8.588376e+01,1.390767e+02,3.801874e+01

In [19]:
states.iloc[:3, :2]

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135

In [20]:
states.loc[:'Illinois', :'population']

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135

In [21]:
states.ix[:3, :'population']

C:\Users\ShahinN\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135

In [22]:
states.loc[states.density > 100, ['population', 'density']]

          population     density
Florida     19552860  114.806121
New York    19651127  139.076746