In [8]:
import numpy as np
import pandas as pd

data = pd.read_csv('C:\\Users\\erfan\\Desktop\\ML\\president_heights.csv')
data.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

In [14]:
print("Mean height: ", heights.mean())
print("Standard deviation:", heights.std())
print("Minimum height: ", heights.min())
print("Maximum height: ", heights.max())

KeyError: 'height'